[submodule "emacs.d/hangups.el"]
	path = emacs.d/hangups.el
	url = https://github.com/jtamagnan/hangups.el
[submodule "emacs.d/lisp/ext/hangups"]
	path = emacs.d/lisp/ext/hangups
	url = https://github.com/jtamagnan/hangups.el
